name: Release

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: gh release create ${{ github.ref_name }} --generate-notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    needs: create-release
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            suffix: linux-amd64
          - os: macos-latest
            suffix: macos-arm64
    runs-on: ${{ matrix.os }}
    env:
      UV_TORCH_BACKEND: cpu
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: mise run package --name caviardeur-${{ github.ref_name }}-${{ matrix.suffix }}
      - run: gh release upload ${{ github.ref_name }} dist/caviardeur-${{ github.ref_name }}-${{ matrix.suffix }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
